<!DOCTYPE html>
<html>
 <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %></h1>
    <p>
      You successfully listed your apartment! To edit your listing, click <%= link_to 'here', @apartment %>
    </p>
    <small><%= apartment_url(@apartment) %></small>
  </body>
</html>