<h1>Currency Dashboard</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>HTML Symbol Sytax</th>
      <th>Symbol</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @currencies.each do |c| %>
      <tr>
        <td><%= c.id %></td>
        <td><%= c.name %></td>
        <td><%= c.symbol %></td>
        <td><%= c.symbol.html_safe %></td>
        <td><%#= link_to 'Edit', edit_currency_path(c) %></td>
        <td><%#= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure you want to delete this currency?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

