    <div id="header" id="index-header" class="header-slide">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="quick-search">
              <div class="row">
                <form role="form">
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <label for="country">Area</label>
                      <select class="form-control">
                        <option>Ramat Eshkol</option>
                        <option>Indonesia</option>
                        <option>Japan</option>
                        <option>South Korea</option>
                        <option>China</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="bedroom">Rental Type</label>
                      <select class="form-control">
                        <option>Long Term</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                  </div>
                  <!-- break -->
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <label for="location">Location</label>
                      <select class="form-control">
                        <option>Tasmania</option>
                        <option>Yogyakarta</option>
                        <option>Tokyo</option>
                        <option>Busan</option>
                        <option>Taipe</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="bathroom">Minimum Bedrooms</label>
                      <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                  </div>
                  <!-- break -->
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <label for="type">Date</label>
                      <select class="form-control">
                        <option>Villa</option>
                        <option>Recident</option>
                        <option>Commercial</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12"><input type="submit" name="submit" value="Search" class="btn btn-success btn-lg btn-block"></div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>