</br>
</br>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 contact-container">
        <form>
          <h1>Contact Us</h1>
          <p>This website is a service to help current and future members of the Greater Ramat Eshkol community find apartments. Please let us know if there is any way we can be of service to you.</p>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email Address">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Phone Number">
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="2" placeholder="Message"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" name="submit" value="Send Message" class="btn btn-success">
          </div>
        </form>
    </div>
</div>
</div>
</br>
</br>