<h1>Admin Dashboard</h1>
<%= link_to "Areas", areas_path %>
<%= link_to "Rental Types", rental_types_path %>
<%= link_to "Currencies", currencies_path %>
<%= link_to "Time Units (For Price)", price_times_path %>