<h1>My Apartment Listings</h1>
<% if @apartments.empty? %>
    <h4>To list an apartment, <%=link_to "click here.", new_apartment_path %> </h4>
    <h4>Doesn't look like you have apartments listed yet.</h4>
<% else %>
    <h4>To list another apartment, <%=link_to "click here.", new_apartment_path %> </h4>
    <%= render 'apartments/listings' %>
<% end %>