<h1>My Apartment Listings</h1>
<h4>To list another apartment, <%=link_to "click here", new_apartment_path %> </h4>
<% if @apartments.empty? %>
    <h4>Doesn't look like you have apartments listed yet.</h4>
<% else %>
    <%= render 'apartments/listings' %>
<% end %>