<%= render 'search_form' %>

<% if @apartments.empty? %>
  <div class="container">
    <h4>Want to broaden your search?</h4>
    <h5>No apartments matched your search requirements.</h5>
  </div>
<% end %>
    <div id="content">
      <div class="container">
        <div class="row">
          <!-- begin:article -->
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                </br>
                </br>
              </div>
            </div>
            <div class="row container-realestate">
              <% @apartments.each do |apartment| %>
                <%= render partial: 'apartment', locals: { apartment: apartment} %>
              <% end %>              
            </div>
        </div>
      </div>
    </div>