<h1>Apartment Listings</h1>

<%= render 'search_form' %>

<% if @apartments.empty? %>
    <h4>Want to broaden your search?</h4>
    <h5>No apartments matched your search requirements.</h5>
<% else %>
    <%= render 'listings' %>
<% end %>